* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: monospace sans-serif;
}

ul,
li,
p,
a,
h1,
h2 {
  margin: 0;
  padding: 0;
}
.footer {
  padding: 2.8125rem 0;
}

.header-nav-bar {
  width: 100%;
  margin-top: 0.625rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  margin: 0;
  transition: 0.5s;
}

.header-nav-bar-scrol {
  /* border-bottom: 1px solid #534545; */
  background-color: rgba(212, 212, 212, 1);
}

.container {
  margin: 0 auto;
  max-width: 85rem;
}

.header-nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.header-search {
  display: flex;
  align-items: center;
}

.header-menu-item:last-child {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.header-input,
.header-btn {
  margin-left: 0.625rem;
}

.header-menu-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  margin-right: 1.875rem;
  padding: 1.125rem 0.875rem;
  text-transform: uppercase;
  transition: 0.5s;
}
.header-menu-link:hover {
  background-color: #000;
  color: #fff;
  border-radius: 0.3125rem;
}

.header-input {
  padding: 0.3125rem 0.3125rem;
}

.btn {
  background-color: bisque;
  padding: 1.2rem 1.8rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.5s;
}
.btn:hover {
  background-color: #000;
  color: #fff;
  border-radius: 0.3125rem;
}

/* end nav-bar */

.main-header {
  margin: 1.25rem auto;
  width: 95rem;
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 10rem 0;
}

.header-title {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: bisque;
  font-weight: 900;
  font-size: 3.5rem;
  text-align: center;
}

.header-text {
  color: bisque;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  margin-top: 0.9375rem;
}

.main-header a {
  color: #000;
  text-transform: uppercase;
}

.main-btn {
  display: block;
  margin: 0 auto;
  width: 12.5rem;
  color: bisque;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  margin-top: 0.9375rem;
  padding: 1.0625rem 2.5rem;
  margin-top: 3.125rem;
}

/* end main-header */

.trending-product {
  padding: 2.8125rem 0;
}

.product-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000;
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
}

.product-card-text {
  text-align: center;
  font-size: 1rem;
  width: 17.5rem;
  margin: 2.3rem auto;
  color: gray;
}

.product-text {
  text-align: center;
  font-size: 1rem;
  width: 43.75rem;
  margin: 2.3rem auto;
  color: gray;
}

.product-card-wrap {
  display: flex;
  justify-content: space-between;
  margin: 4.375rem 0;
}

.product-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

/* end section popular and trending-product */

.content-info {
  padding: 2.8125rem 0;
}

.content-info-wrap {
  display: flex;
  justify-content: space-between;
}

.text-fetures {
  width: 19.375rem;
}

.form-enter {
  margin: 0 auto;
  width: 96.875rem;
  padding: 1.5625rem 0;
  color: #fff;
  background-color: #000;
  margin-top: 2.5rem;
}

.form-enter-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9375rem;
  font-weight: 600;
}

.input-enter-data {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.input-enter-data input {
  padding: 0.3125rem 0.625rem;
}

.form-btn {
  padding: 0.3125rem 1.5625rem;
}

.footer-main-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-link {
  list-style: none;
}

.title-footer {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
}

.footer-link a {
  text-decoration: none;
  color: gray;
}

/* @media -- Start */

@media (max-width: 1570px) {
  .main-header {
    max-width: 85rem;
  }
  .form-enter {
    max-width: 85rem;
    padding: 1.5625rem 1.5625rem;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1220px) {
  .main-header {
    max-width: 75rem;
  }
  .form-enter {
    max-width: 75rem;
  }
  .container {
    max-width: 70rem;
  }
  .header-menu {
    gap: 0.5rem;
  }
  .header-menu-link {
    margin-right: 1rem;
  }
}

@media (max-width: 1075px) {
  html {
    font-size: 13px;
  }
  .main-header {
    max-width: 70rem;
  }
  .form-enter {
    max-width: 70rem;
  }
}

@media (max-width: 930px) {
  .container {
    max-width: 50rem;
  }
  .main-header {
    max-width: 60rem;
  }
  .form-enter {
    max-width: 60rem;
  }
  .header-search {
    display: none;
  }
  .header-nav-wrap {
    justify-content: center;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 12px;
  }
  .form-enter-wrap {
    flex-direction: column;
    gap: 20px;
  }
  .main-header {
    max-width: 50rem;
    padding: 3rem 0;
  }
  .header-title {
    margin-top: 1rem;
  }
  .header-text {
    margin-bottom: -1rem;
  }
  .form-enter {
    max-width: 50rem;
  }
  .product-img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 680px) {
  html {
    font-size: 10px;
  }
  .main-header {
    max-width: 35rem;
  }
  .header-title {
    font-size: 2rem;
  }
  .header-text {
    font-size: 1rem;
  }
  .form-enter {
    max-width: 35rem;
  }
  .input-enter-data {
    display: flex;
    flex-direction: column;
  }
}
